body {
  background: #898989;
}

#div-container {
  width: 98%;
  /* max-width: 300px; */
  padding: 1rem;
  margin: auto;
  margin-top: 2rem;
  border: 1px solid #333;
  border-radius: .3rem;
  background: white;
}

p {
  font-size: 1rem;
  color: black;
  font-family: monospace;
}

.div-container-color {
  display: inline-block;
  padding: 1rem;
  /* width: 100px; */
  width: 2.41%;
}

.div-color_descriptions {
  border-bottom: 1px solid gray;
}
